<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curriculum vitae</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous">
</head>
<body>
    <page size="A4">
        <div id="container">           
            <div id="one" class="color">{{ personal_brand | safe }}</div>
            <div id="two" class="color">{{ personal_data | safe }}</div>
            <div id="three" class="color">{{ presentation | safe }}</div>
            <div id="four" class="color"> {{ others | safe }}</div>
            <div id="five" class="color">{{ competences | safe }}</div>
            <div id="six" class="color">{{ expirience | safe }}</div>
            <div id="seven" class="color">{{ formation | safe }}</div>
            <button id="paintColor"><i class="fa fa-paint-brush" aria-hidden="true"></i></button> 
        </div>
    </page>
    <script>
        //Button paint divs content 
        //Mouse on the page     
        $('page').on({
            mouseenter: function() {
                $("#paintColor").css("display","block");
            },
            mouseleave: function() {
                $("#paintColor").css("display","none");
            }
        });
        
        //Click button show paited divs 
        var active_c=true;
        
        $("#paintColor").click(function() {            
            if(active_c==true){
                $("#one").css("background-color", "red");
                $("#two").css("background-color", "blue");
                $("#three").css("background-color", "gray");
                $("#four").css("background-color", "green");
                $("#five").css("background-color", "brown");
                $("#six").css("background-color", "violet");
                $("#seven").css("background-color", "yellow");
                active_c=false;
                console.log(active_c);
            }else{
                $(".color").css("background-color", "white");
                active_c=true;
            }
        })
    </script>
</body>
</html>